<a href="https://colab.research.google.com/github/visalsudhakaran/Vehicleservice/blob/main/Vehicleservice81120221245pm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("VehicleService_transformed.TXT",sep = ",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
df.head()

,CustomerID,CustomerSince,Vehicle,2014,2015,2016E,Unnamed: 6
0,2534845,2014-03-27,2012 BMW 1 Series,40.57,359.17,184.07,NaN
1,2534846,2008-05-02,1993 BMW 518,663.04,63.6,716.18,NaN
2,2534847,2004-11-16,1999 TVR Speed 12,765.51,42.71,479.80,NaN
3,2534848,2005-09-10,1992 Porsche 968,548.32,273.48,329.80,NaN
4,2534849,2014-09-01,2006 Volvo XC70,242.74,370.78,263.06,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050000 entries, 0 to 1049999
Data columns (total 7 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CustomerID     1050000 non-null  int64
 1   CustomerSince  1050000 non-null  object
 2   Vehicle        1050000 non-null  object
 3   2014           1018122 non-null  float64
 4   2015           1050000 non-null  object
 5   2016E          1050000 non-null  float64
 6   Unnamed: 6     1 non-null        float64
dtypes: float64(3), int64(1), object(3)
memory usage: 56.1+ MB

In [31]:
df.loc[df['Unnamed: 6'] > 1]

,CustomerID,CustomerSince,Vehicle,2014,2015,2016E,Unnamed: 6
203973,2738818,2014-01-01,2009 Chevrolet Traverse,118.0,1.0,122.55,725.89

# Drop the 1 non null value from Column 6 (index = 203973)

In [37]:
df = df.drop(index=(203973))

# Drop the column 6

In [41]:
df = df.drop(columns=['Unnamed: 6'])

# Checkpoint 1

In [43]:
df2 = df.copy()

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049999 entries, 0 to 1049999
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CustomerID     1049999 non-null  int64
 1   CustomerSince  1049999 non-null  object
 2   Vehicle        1049999 non-null  object
 3   2014           1018121 non-null  float64
 4   2015           1049999 non-null  object
 5   2016E          1049999 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 56.1+ MB

# Find anomalies in Column['2015']

In [54]:
#best way is to convert the object to float

In [55]:
df2['2015'] = df['2015'].astype(float)

ValueError: ignored

In [61]:
#locate '781$37' and remove the row thats it

In [59]:
df2.loc[df2['2015'] == '781$37']

        CustomerID CustomerSince               Vehicle    2014    2015  2016E
676802     3211647    2004-12-21  1996 Daewoo Brougham  413.92  781$37  175.8

In [60]:
#Remove the row by index = 676802

In [63]:
df2 = df2.drop(index=(676802))

In [64]:
#Not try to convert the column 2015 to float

In [65]:
df2['2015'] = df2['2015'].astype(float)

In [66]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1049998 entries, 0 to 1049999
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CustomerID     1049998 non-null  int64
 1   CustomerSince  1049998 non-null  object
 2   Vehicle        1049998 non-null  object
 3   2014           1018120 non-null  float64
 4   2015           1049998 non-null  float64
 5   2016E          1049998 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 56.1+ MB